<!DOCTYPE html>
<html>
<head>
    <title>YouSense GPS Export</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/bootstrap.min.js"></script>
    <style>
        body {
            padding-top: 60px;
        }
    </style>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand">YouSense Uploads</a>
            <ul class="nav">
                <li><a href="{% url 'uploadapi.views.dashboard.index' %}">Dashboard</a></li>
                <li class="active"><a href="{% url 'uploadapi.views.export.index' %}">GPS Export</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr><th>IMEI</th><th>Install IDs</th><th>.kmz download</th></tr>
        </thead>
        <tbody>
            {% for imei, installids in imeimap.iteritems %}
            <tr>
                <td>{{ imei }}</td>
                <td>{{ installids|join:'<br>' }}</td>
                <td><a class="btn btn-small btn-success" href="{% url 'uploadapi.views.export.kmz' %}?aid={{ installids|join:'&aid=' }}">Export
                    <i class="icon-download icon-white"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>